coreapi
coreschema
coverage
dj-database-url
Django>=2.1
django-allauth
django-avatar
django-bootstrap3
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-oauth-toolkit
djangorestframework
djangorestframework-csv
djangorestframework-gis
django-filter
drf-yasg
flex
gunicorn[gevent]
psycopg2
pylint
PyPDF2
python-dateutil
raven
rope
setuptools-scm
sentry-sdk
swagger-spec-validator
whitenoise[brotli]
yapf
wheel
