brotlipy
coreapi
coreschema
dj-database-url
django-allauth
django-autocomplete-light
django-avatar
django-bootstrap3
django-cors-headers
django-crispy-forms
django-csp
django-debug-toolbar
django-filter
django-oauth-toolkit
django-referrer-policy
Django~=2.2
djangorestframework
djangorestframework-gis
drf-yasg
flex
geocoder
gunicorn[gevent]
lz4
psycopg2
pylint
PyPDF2
pytest
pytest-cov
pytest-django
python-dateutil
raven
rope
sentry-sdk
setuptools-scm
swagger-spec-validator
urllib3<1.25
wheel
whitenoise
yapf
