coreapi
coreschema
coverage
dj-database-url
Django
django-allauth
django-bootstrap3
django-cors-headers
django-debug-toolbar
django-oauth-toolkit
djangorestframework
djangorestframework-csv
djangorestframework-gis
django-filter
drf-yasg
flex
gunicorn
psycopg2
pylint
PyPDF2
python-dateutil
raven
rope
setuptools-scm
swagger-spec-validator
whitenoise
yapf
wheel
