{% extends 'settings_base.html' %}
{% load static i18n account %}

{% block title %}{% trans "Confirm Application Delete" %}{% endblock %}

{% block settings_content %}
<div class="box-header with-border">
  <h3 class="box-title">{% trans "Are you sure to delete the application" %} {{ application.name }}?</h3>
</div>
<div class="box-body">
    <form method="post" action="{% url 'oauth2_provider:delete' application.pk %}">
        {% csrf_token %}
        <a class="btn btn-large" href="{% url "oauth2_provider:list" %}">{% trans "Cancel" %}</a>
        <input type="submit" class="btn btn-large btn-danger" name="allow" value="{% trans "Delete" %}"/>
    </form>
</div>
<!-- /.box-body -->
{% endblock %}
