{% extends 'index.html' %}
{% load static i18n account %}

{% block title %}404 - Not Found{% endblock %}

{% block content_header %}
<h1>
    404 - Not Found
</h1>
<ol class="breadcrumb">
    <li><a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">404 - Not Found</li>
</ol>
{% endblock %}

{% block content %}
  <div class="error-page">
    <h2 class="headline text-yellow"> 404</h2>

    <div class="error-content">
      <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>

      <p>
        We could not find the page you were looking for.
        Meanwhile, you may <a href="/">return to dashboard</a> or try using the search form.
      </p>

        <form class="search-form" action="#" onsubmit="return process(this);">
            <div class="input-group">
                <input type="text" class="form-control" id="navbar-search-input" name="search"
                       placeholder="Callsign Search" required>
                <div class="input-group-btn">
                    <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <!-- /.input-group -->
        </form>
    </div>
    <!-- /.error-content -->
  </div>
  <!-- /.error-page -->
{% endblock %}
