{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title_outer %}<title>{% block title %}{{ site.name }} - An Amateur Radio Platform{% endblock %}</title>{% endblock %}
    {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=5" name="viewport">
    <meta name="keywords" content="amateur,ham,radio,callsign,hamnet,qth,api,oauth">
    <meta name="apple-mobile-web-app-title" content="project novis">
    {% endblock %}
    {% block meta_content %}
    <meta name="description" content="A free and open-source platform for amateur radio related services. Provides a
    comprehensive database with an easy to use and modern API.">
    {% endblock %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/AdminLTE.min.css" %}">
    <link rel="stylesheet" href="{% static "css/skins/skin-blue.min.css" %}">
    <link rel="icon" type="image/svg+xml" sizes="any" href="/favicon.svg">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

    {% block extra_head %}{% endblock %}
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://piwik.nerdpol.io/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="https://piwik.nerdpol.io/piwik.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->
    <style>
    .navbar-brand {
      padding: 0px;
    }
    .navbar-brand>img {
      height: 100%;
      width: auto;
    }
    </style>
</head>
<body class="{% block body_class %}hold-transition skin-blue layout-boxed layout-top-nav{% endblock %}">
{% block body %}{% endblock body %}
{% block extra_body %}{% endblock %}
{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script src="{% static "js/adminlte.min.js" %}"></script>
    <script type="text/javascript">
        function process(form){
            if ($(form).has("input").length > 0){
                form = $(form).find("input");
            }
            if ($(form).val().length > 2){
                var getURL = window.location;
                var baseCallsignURL = getURL .protocol + "//" + getURL.host + "/" + "c/";
                location.href = baseCallsignURL + $(form).val();
                $(form).val("");
                return false;
            }
            else{
                return false;
            }
        }
    </script>
{% endblock %}

{% block extra_foot %}{% endblock %}
</body>
</html>
