{% extends 'base.html' %}
{% load static i18n %}

{% block body %}
<div class="wrapper">
    <header class="main-header">
        <nav class="navbar navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
            <a href="/" class="navbar-brand">project <b>novis</b></a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
            {% block nav_header %}
                {% include 'nav_main_header.html' %}
            {% endblock %}
            <form class="navbar-form navbar-left" role="search" method="post" action={% url "callsign:callsign-html-search" %}>
                {% csrf_token %}
                <div class="form-group">
                <input type="text" class="form-control" id="navbar-search-input" name="name" placeholder="Callsign Search">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <!-- The user image in the navbar-->
                    <img src="{% static "img/user2-160x160.jpg" %}" class="user-image" alt="User Image">
                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                    <span class="hidden-xs">{% if user.name %}{{ user.name }}{% else %}{{ user.email }}{% endif %}</span>
                    </a>
                    <ul class="dropdown-menu">
                    <!-- The user image in the menu -->
                    <li class="user-header">
                        <img src="{% static "img/user2-160x160.jpg" %}" class="img-circle" alt="User Image">

                        <p>
                        {% if user.name %}{{ user.name }}{% else %}{{ user.email }}{% endif %}
                        <small>Member since {{ user.date_joined|date }}</small>
                        </p>
                    </li>
                    {% if user.is_staff %}
                    <!-- Menu Body -->
                    <li class="user-body">
                        <div class="row">
                        <div class="col-xs-4 text-center">
                            <a href="{% url 'admin:index' %}">Admin</a>
                        </div>
                        </div>
                        <!-- /.row -->
                    </li>
                    {% endif %}
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                        <a href="{% url "profile_change" %}" class="btn btn-default btn-flat">Settings</a>
                        </div>
                        <div class="pull-right">
                        <a href="{% url 'account_logout' %}" class="btn btn-default btn-flat">Sign out</a>
                        </div>
                    </li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{% url 'account_login' %}">Sign in</a></li>
                <li><a href="{% url 'account_signup' %}">Sign up</a></li>
                {% endif %}
            </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
        </nav>
    </header>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {% block raw_content %}
        <section class="content-header">

        {% block content_header %}
            <h1>
                Page Header
                <small>Optional description</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        {% endblock %}

        </section>

        <section class="content container-fluid">

        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}

        {% block content %}
        <!--------------------------
            | Your Page Content Here |
            -------------------------->
        {% endblock %}

        </section>
        {% endblock %}
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
        Anything you want
        </div>
        <!-- Default to the left -->
        <strong>nerdpol</strong>
    </footer>
    <!-- ./wrapper -->
{% endblock %}
