<ul class="nav navbar-nav">
    {% if user.is_authenticated %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Call Sings <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                {% for call_sign in user.callsign_set.all %}
                    <li><a href="{% url 'callsign:callsign-html-detail' call_sign.name %}">{{ call_sign.name }}</a></li>
                    {% if forloop.last %}
                        <li class="divider"></li>
                    {% endif %}
                {% endfor %}
                <li><a href="{% url 'callsign:callsign-html-create' %}">Add Call Sign</a></li>
            </ul>
        </li>
    {% endif %}
        <li><a href="{% url "project_novis.api:schema-swagger-ui" %}">API</a></li>
        <li><a href="https://project-novis.readthedocs.io/en/latest/">Docs</a></li>
        <li><a href="{% url 'contrib' %}">Contribute</a></li>
</ul>
