{% extends 'base.html' %}
{% load static i18n account crispy_forms_tags %}

{% block title %}{% trans "Signup" %}{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/skins/square/blue.css"
          integrity="sha256-RXWCsVDAOYwIrt1dupoFaLu8gwi9lEC2bIc+g1MDvMY=" crossorigin="anonymous"/>
{% endblock %}
{% block body_class %}hold-transition register-page{% endblock %}

{% block body %}
    <div class="register-box">
        <div class="register-logo">
            <a href="{% url 'index' %}"><img src="{% static "img/logotype_blue.svg" %}" alt="project novis logo"></a>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg"><strong>{% trans "Reset Your Password" %}</strong></p>
            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" value="{% trans "Reset My Password" %}"/>
                <a href="{{ login_url }}" class="btn btn-default">{% trans "Return to signin" %}</a>
            </form>
        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->
{% endblock %}
