{% extends 'settings_base.html' %}
{% load static i18n account bootstrap3 %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block settings_content %}
<div class="box-header with-border">
  <h3 class="box-title">{% trans "Change Password" %}</h3>
</div>
<div class="box-body">
    <form class="form" method="post" action="">
        {% csrf_token %}
        {% bootstrap_form password_change_form %}
        {% buttons %}
          <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
        {% endbuttons %}
    </form>
</div>
<!-- /.box-body -->
{% endblock %}
