{% extends 'index.html' %}
{% load static i18n account bootstrap3 %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content_header %}
<section class="content-header">
    <h1>{% trans "Password Reset" %}</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Account</a></li>
        <li class="active">{% trans "Password Reset" %}</li>
    </ol>
</section>
{% endblock %}r

{% block content %}
<section class="content container-fluid">
    <p>{% trans 'Your password is now changed.' %}</p>
</section>
{% endblock %}r
