{% extends 'index.html' %}
{% load static i18n account bootstrap3 %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content_header %}
    <h1>{% trans "Change Password" %}</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Account</a></li>
        <li class="active">{% trans "Change Password" %}</li>
    </ol>
{% endblock %}r

{% block content %}
    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>

    {% else %}
    {% if form %}
    <form method="POST" action="" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button class="btn btn-primary" type="submit">{% trans "Change Password" %}</button>
        {% endbuttons %}
    </form>
    {% else %}
    <p>{% trans 'Your password is now changed.' %}</p>
    {% endif %}
    {% endif %}
{% endblock %}r
