{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/skins/square/blue.css" integrity="sha256-RXWCsVDAOYwIrt1dupoFaLu8gwi9lEC2bIc+g1MDvMY=" crossorigin="anonymous" />
{% endblock %}
{% block body_class %}hold-transition register-page{% endblock %}

{% block body %}
<div class="register-box">
    <div class="register-logo">
      <a href="{% url 'index' %}">Project <b>novis</b></a>
    </div>

    <div class="register-box-body">
      <p class="login-box-msg"><strong>{% trans "Register a new membership" %}</strong></p>

      <form action="{% url 'account_signup' %}" method="post" id="signup_form">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="form-group has-feedback">
          <input type="email" name="email" required id="id_email" class="form-control" placeholder="Email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" name="password1" required id="id_password1" class="form-control" placeholder="Password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" name="password2" required id="id_password2" class="form-control" placeholder="Retype password">
          <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        </div>
        <div class="row">
          <!--<div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                <input type="checkbox"> I agree to the <a href="#">terms</a>
              </label>
            </div>
          </div>-->
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">{% trans "Register" %}</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <a href="{{ login_url }}" class="text-center">{% trans "I already have a membership" %}</a>
    </div>
    <!-- /.form-box -->
  </div>
  <!-- /.register-box -->
{% endblock %}

{% block extra_foot %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js" integrity="sha256-8HGN1EdmKWVH4hU3Zr3FbTHoqsUcfteLZJnVmqD/rC8=" crossorigin="anonymous"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
  });
</script>
{% endblock %}
