{% extends 'index.html' %}
{% load i18n %}

{% block title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content_header %}
<section class="content-header">
    <h1>{% trans "Sign Up Closed" %}</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Account</a></li>
        <li class="active">{% trans "Sign Up Closed" %}</li>
    </ol>
</section>
{% endblock %}

{% block content %}
<section class="content container-fluid">
    {% trans "We are sorry, but the sign up is currently closed." %}
</section>
{% endblock %}
