{% extends "admin/base.html" %}
{% load static %}

{% block title %}Project Novis Site Administration{% endblock %}

{% block extrahead %}
    <link rel="icon" type="image/svg+xml" sizes="any" href="{% static "img/favicon.svg" %}">
    <link rel="icon" type="image/png" href="{% static "img/favicon_32.png" %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static "img/favicon_96.png" %}" sizes="96x96">

    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://piwik.nerdpol.io/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="https://piwik.nerdpol.io/piwik.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->
{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}" class="navbar-brand"><img src="{% static "img/logotype_admin.svg" %}" alt="project novis logo" height="40em" width="auto"></a></h1>
{% endblock %}
