{% extends 'index.html' %}
{% load static i18n account bootstrap3 %}

{% block title %}Edit {{ object.name }}{% endblock %}

{% block content_header %}
<h1>
    {{ object.name }}
</h1>
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Callsign</a></li>
    <li><a href="{% url "callsign:callsign-html-detail" object.name %}"><i class="fa fa-dashboard"></i> {{ object.name }}</a></li>
    <li class="active">Edit</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Edit {{ object.name }}</h3>
            </div>
            <div class="box-body">
                <form class="form" method="post" action="">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button class="btn btn-primary" type="submit" name="action">{% trans "Update" %}</button>
                {% endbuttons %}
                </form>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-4">
        <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Help</h3>
            </div>
            <div class="box-body">
                <strong><i class="fa fa-location-arrow margin-r-5"></i> Find your grid/zone</strong>
                <p class="text-muted">
                    Use <a href="https://zone-check.eu/" target="_blank" rel="noopener">this</a> site to find your QTH/grid
                    locator and CQ/ITU zone. Hover over your location, your locator/zone is displayed at the top left corner.
                </p>
                <hr>
                <strong>D-STAR</strong>
                <p class="text-muted">
                    <a href="https://en.wikipedia.org/wiki/D-STAR" target="_blank" rel="noopener">D-STAR (Digital Smart Technologies
                    for Amateur Radio)</a> is a digital voice and data protocol specification for amateur radio.
                </p>
                <hr>
                <strong>DMR IDs</strong>
                <p class="text-muted">
                    <a href="https://en.wikipedia.org/wiki/Digital_mobile_radio" target="_blank" rel="noopener">Digital mobile
                    radio (DMR)</a> is an open digital mobile radio standard. DMR IDs are regularly imported from
                    <a href="https://ham-digital.org/" target="_blank" rel="noopener">ham-digital.org</a> so there is
                    no need to manually add your ID here.
                </p>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
{% endblock %}
