<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Club Information</h3>
        {% if user == object.owner %}
            <div class="box-tools pull-right">
            <a href="{% url "callsign:club-html-update" object.name %}"
                 class="btn btn-sm btn-default"><i class="fa fa-edit"></i> Edit</a>
            </div>
        {% endif %}
    </div>
    <div class="box-body no-padding">
        <table class="table table-hover">
            <tbody>
            {% if object.club.website %}
            <tr>
                <td>Website</td>
                <td><a href="{{ object.club.website }}" target="_blank" rel="noopener">{{ object.club.website }}</a></td>
            </tr>
            {% endif %}
{#            <tr>#}
{#                <td>Managed by</td>#}
{#                <td><a href="{% url "callsign:callsign-html-detail" object.owner.primary_callsign %}">{{ object.owner.primary_callsign }}</a></td>#}
{#            </tr>#}
            {% if object.club.members.all %}
            <tr>
                <td>Members</td>
                <td>
                  <ul>
                    {% for member in object.club.members.all %}
                    <li><a href="{% url "callsign:callsign-html-detail" member.name %}">{{ member.name }}</a></li>
                    {% endfor %}
                  </ul>
                </td>
            </tr>
            {% endif %}
            {% if object.club.description %}
            <tr>
                <td>Description</td>
                <td>{{ object.club.description }}</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
